body {
  font-family: "Segoe UI", sans-serif;
  background: #eaf5f0;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 25px;
}

h1 {
  text-align: center;
  color: #007BFF;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #007BFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background 0.2s;
}

li.completed {
  background: #007BFF;
}

li.completed .circle {
  border-color: #007BFF;
  background: #007BFF;
}

li.completed .circle::after {
  content: "✔";
  color: white;
  font-size: 13px;
}

li span {
  flex: 1;
  margin-left: 10px;
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.edit-input {
  flex: 1;
  font-size: 14px;
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button.action {
  background: none;
  color: #d9534f;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

button.action:hover {
  color: #b52b27;
}

.pagination {
  text-align: center;
  margin-top: 15px;
}

.pagination button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
}

.pagination span {
  margin: 0 10px;
  color: #333;
}
